Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.OnlinePayments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.OnlinePayments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="OnlinePaymentInfoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="subscriber_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlinePaymentInfoModel" nillable="true" type="tns:OnlinePaymentInfoModel" />
  <xs:complexType name="OnlinePaymentInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="debit_score" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payment_info_list" nillable="true" type="tns:ArrayOfOnlinePaymentInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlinePaymentInfoResult" nillable="true" type="tns:OnlinePaymentInfoResult" />
  <xs:complexType name="ArrayOfOnlinePaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnlinePaymentInfo" nillable="true" type="tns:OnlinePaymentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnlinePaymentInfo" nillable="true" type="tns:ArrayOfOnlinePaymentInfo" />
  <xs:complexType name="OnlinePaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlinePaymentInfo" nillable="true" type="tns:OnlinePaymentInfo" />
</xs:schema>