Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.CustomerTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.CustomerTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="CustomerTypesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="customer_types" nillable="true" type="tns:ArrayOfCustomerType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerTypesResult" nillable="true" type="tns:CustomerTypesResult" />
  <xs:complexType name="ArrayOfCustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerType" nillable="true" type="tns:CustomerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerType" nillable="true" type="tns:ArrayOfCustomerType" />
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
</xs:schema>