Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.SearchResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.SearchResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="SearchResultModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="input_text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResultModel" nillable="true" type="tns:SearchResultModel" />
  <xs:complexType name="SearchResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="search_result" nillable="true" type="tns:ArrayOfSearchResultObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:complexType name="ArrayOfSearchResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResultObject" nillable="true" type="tns:SearchResultObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResultObject" nillable="true" type="tns:ArrayOfSearchResultObject" />
  <xs:complexType name="SearchResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="image_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result_from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultObject" nillable="true" type="tns:SearchResultObject" />
</xs:schema>