Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.Tran" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.Tran" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="MakeTranModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="batch_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="card" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="device_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="respcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tran_date" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MakeTranModel" nillable="true" type="tns:MakeTranModel" />
</xs:schema>