Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.Brands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.Brands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="BrandsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="brands" nillable="true" type="tns:ArrayOfBrand" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrandsResult" nillable="true" type="tns:BrandsResult" />
  <xs:complexType name="ArrayOfBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrand" nillable="true" type="tns:ArrayOfBrand" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
</xs:schema>