Kunicardus.Server/Kunicardus.Services/Service References/UnicardApi/UnicardPublicAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.ServiceCenters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary.ServiceCenters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://109.238.238.194/UnicardPublicAPI.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" />
  <xs:complexType name="ServiceCentersModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q1:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="delivery_method_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCentersModel" nillable="true" type="tns:ServiceCentersModel" />
  <xs:complexType name="ServiceCentersResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UnicardApiLibrary" base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="service_centers" nillable="true" type="tns:ArrayOfServiceCenter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCentersResult" nillable="true" type="tns:ServiceCentersResult" />
  <xs:complexType name="ArrayOfServiceCenter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCenter" nillable="true" type="tns:ServiceCenter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCenter" nillable="true" type="tns:ArrayOfServiceCenter" />
  <xs:complexType name="ServiceCenter">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCenter" nillable="true" type="tns:ServiceCenter" />
</xs:schema>